<div>
    <a href="/eng"><button id="engbtn">En</button>
    <a href="/chi"><button id="chibtn">中</button>
</div>

<div>
    <h1>Lines</h1>
    {{#show}}
    <a href="/line/{{id}}"><button id='line{{id}}' class="line" type="button" name="button">{{chinese}}</button></a>
    {{/show}}
</div>

<div class="stations">
    <h1>Stations</h1>
    {{#list}}
    <a href="/station/{{id}}"><button class="station" type="button" name="button">{{chinese}}</button></a>
    {{/list}}
</div>
