<div>
    <a href="/home/english"><button id="engbtn">En</button>
    <a href="/home/chinese"><button id="chibtn">中</button>
</div>

<div>
    <!-- if this property (inEnglish) exists -->
    {{#if inEnglish}}
    <h1>Lines in English</h1>
    {{#show}}
    <a href="/line/{{id}}/english"><button id='line{{id}}' class="line" type="button" name="button">{{english}}</button></a>
    {{/show}}
    {{else}}
    <h1>Lines in Chinese</h1>
    {{#show}}
    <a href="/line/{{id}}/chinese"><button id='line{{id}}' class="line" type="button" name="button">{{chinese}}</button></a>
    {{/show}}
    {{/if}}
</div>

<div class="stations">
    {{#if inEnglish}}
    <h1>Stations</h1>
    {{#list}}
    <a href="/station/{{id}}/english"><button class="station" type="button" name="button">{{english}}</button></a>
    {{/list}}
    {{else}}
    <h1>Stations</h1>
    {{#list}}
    <a href="/station/{{id}}/chinese"><button class="station" type="button" name="button">{{chinese}}</button></a>
    {{/list}}
    {{/if}}
</div>
