<style>
    h2 {
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 20px;
        color: black;
    }
    a {
        /*text-decoration: none !important;*/
        color: black !important;
    }
</style>
<div class="showFavor">
    <a href="/showFavor"><button class="favorbtn" type="button" name="button">Check my favor</button></a>
</div>

<div class="languagebtn">
    <a href="/home/english"><button id="engbtn">En</button></a>
    <a href="/home/chinese"><button id="chibtn">中</button></a>
</div>


<div class="container" style="height:auto">
    <!-- if the property inChinese exists -->
    {{#if inEnglish}}
    <a href="#showAll"><h2>Lines</h2></a>
    {{#show}}
    <a href="/line/{{id}}/english"><button id='line{{id}}' class="col-md-5 col-sm-5 col-xs-5 line" type="button" name="button">{{english}}</button></a>
    {{/show}}
    {{else}}
    <a href="#showAll"><h2>地鐵綫</h2></a>
    {{#show}}
    <a href="/line/{{id}}/chinese"><button id='line{{id}}' class="col-md-5 col-sm-5 col-xs-5 line" type="button" name="button">{{chinese}}</button></a>
    {{/show}}
    {{/if}}
</div>

<div class="container">
    {{#if inEnglish}}
    <a href="#addFavor"><h2 id="showAll">Stations</h2></a>
    {{#list}}
        <a href="#addFavor"><button id="station-{{id}}" class="col-md-5 col-sm-5 col-xs-5 lineStation{{cssId}} station" type="button" name="button">{{english}}</button></a>
    {{/list}}
    {{else}}
    <a href="#addFavor"><h2 id="showAll">地鐵站</h2></a>
    {{#list}}
        <a href="#addFavor"><button id="station-{{id}}" class="col-md-5 col-sm-5 col-xs-5 lineStation{{cssId}} station" type="button" name="button">{{chinese}}</button></a>
    {{/list}}
    {{/if}}
</div>

<div class="container">
    <h2 id="addFavor">Add favourite station</h2>
    <div class="favorForm">
        <form action="/addFavoriteStation" method="post" id="addStation">
            <div class="col-sm-12" style="padding-left: 10px;">
                <input class="col-md-5 remark" type="text" name="remark" placeholder="Remark your station here">
            </div>
            <div id="fav">
                <button id="stationName" class="col-md-5 col-sm-5 col-xs-5"></button>
                <!-- selected favourite station will be appended here. See script in main.handlebars -->
                <input id= "database" type="hidden" name="stationName" value="">
            </div>
            <div>
                <input class="col-md-5 col-sm-5 col-xs-5 sub" type="submit" value="Add">
            </div>
        </form>
    </div>
</div>
